@font-face {
    font-family: 'B Koodak';
    src: url('font/BKoodkBd.ttf') format('truetype');
}
@font-face {
    font-family: 'B Nazanin';
    src: url('font/BNazanin.ttf') format('truetype');
}
@font-face {
    font-family: 'irannastaliq';
    src: url('font/IranNastaliq.ttf') format('truetype');
}


body {
    direction: rtl;
    font-family: B Koodak;
    background-color: navy;
    color: white;
}

nav {
    text-align: center;
    background-color: rgb(191, 191, 191);
    padding: 20px;
    font-size: small;
}


a {
    font-size: 200%;
    text-decoration: none;
    padding: 15px;
}

a:hover {
    background-color: rgb(202, 255, 247);
    border-radius: 30px;
}

img {
    width: 100;
}

.c1 {
    text-align: center;
    color: white;
    background-color:rgb(128, 0, 255);
    padding: 50px;
    font-size: 350%;
    font-family: irannastaliq;
}

.p1 {
    font-family: B Nazanin;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.p2 {
    font-family: B Nazanin;
    flex: 1;
    min-width: 300px;
    margin: 10px;
}

#line {
    background-color: #b33900;
}


#logo {
    width: 20%;
    height: 20%;
}

.footer {
    text-align: center;
    background-color:rgb(191, 191, 191);
}

#mojavez {
    width: 15%;
    height: 15%;
}

#mojavez1 {
    width: 12%;
    height: 12%;
}


.btn_all {
    text-align: center;
    font-family: B Koodak;
}

.btn {
    background-color: rgb(191, 191, 191);
    font-family: B Koodak;
    font-size: 200%;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
}

.hide {
    display: none;
}

.data {
    text-align: center;
}

.close {
    background-color: red;
    font-family: B Koodak;
    border-radius: 50%;
}